<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style/dashboard.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h2 class="dashboard-title">Dashboard Admin</h2>
            <form action="/dashboard/logout" method="post">
                <input type="submit" value="Logout" class="logout-button">
            </form>
        </div>
    </header>

    <main>
        <section>
            <h3>Data Form</h3>

            <!-- Form untuk filter berdasarkan meetingDate -->
            <form action="/dashboard" method="get" class="filter-form">
                <label for="meetingDate">Filter berdasarkan Tanggal Pertemuan:</label>
                <input type="date" id="meetingDate" name="meetingDate" value="<%= meetingDate %>">
                <input type="submit" value="Filter" class="filter-button">
            </form>

            <!-- Tabel untuk menampilkan data form -->
            <table>
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Jenis Kelamin</th>
                        <th>Telepon</th>
                        <th>Tanggal Lahir</th>
                        <th>Alamat</th>
                        <th>Email</th>
                        <th>Keluhan</th>
                        <th>Tanggal Pertemuan</th>
                        <th>Nama Dokter</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(form => { %>
                        <tr>
                            <td><%= form.name %></td>
                            <td><%= form.gender %></td>
                            <td><%= form.phone %></td>
                            <td><%= form.birthdate %></td>
                            <td><%= form.address %></td>
                            <td><%= form.email %></td>
                            <td><%= form.complain %></td>
                            <td><%= form.meetingDate %></td>
                            <td><%= form.nama_dokter %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
