<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style/dashboard.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h2 class="dashboard-title">Dashboard Admin</h2>
            <form action="/dashboard/logout" method="post">
                <button type="submit" value="Logout" class="logout-button"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
            </form>
        </div>
    </header>

    <main>
        <section>
            <h3>Data Form</h3>

            <!-- Form untuk filter berdasarkan meetingDate -->
            <form action="/dashboard" method="get" class="filter-form">
                <label for="meetingDate">Filter berdasarkan Tanggal Pertemuan:</label>
                <input type="date" id="meetingDate" name="meetingDate" value="<%= meetingDate %>">
                <button type="submit" value="Filter" class="filter-button"><i class="fa-solid fa-filter"></i> Filter</button>
            </form>
            <div class="find-export">
                <div class="left">
                    <form action="/dashboard" method="get" class="search-form">
                        <label for="name">Mencari nama:</label>
                        <input type="text" name="name" id="name" class="cari-nama" placeholder="Tulis Namamu">
                        <button type="submit" value="Search" class="search-button"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                    </form>
                </div>
                <div class="right">
                    <form action="/dashboard/export" method="get" class="export-form">
                        <input type="hidden" name="meetingDate" value="<%= meetingDate %>">
                        <input type="hidden" name="name" value="<%= name %>">
                        <button type="submit" value="Export to Excel" class="export-button"><i class="fa-solid fa-file-export"></i> Export To Excel</button>
                    </form>
                </div>
             </div>

            <!-- Tabel untuk menampilkan data form -->
            <div class="table-respon">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>Telepon</th>
                            <th>Tanggal Lahir</th>
                            <th>Alamat</th>
                            <th>Email</th>
                            <th>Keluhan</th>
                            <th>Tanggal Pertemuan</th>
                            <th>Nama Dokter</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(form => { %>
                            <tr>
                                <td><%= form.idform %></td>
                                <td><%= form.name %></td>
                                <td><%= form.gender %></td>
                                <td><%= form.phone %></td>
                                <td><%= form.birthdate %></td>
                                <td><%= form.address %></td>
                                <td><%= form.email %></td>
                                <td><%= form.complain %></td>
                                <td><%= form.meetingDate %></td>
                                <td><%= form.nama_dokter %></td>
                                <td class="actions">
                                    <a href="/dashboard/update/<%= form.idform %>" class="update-button">Update</a>
                                    <form action="/dashboard/delete/<%= form.idform %>" method="post" style="display:inline;">
                                        <button type="submit" class="delete-button"><i class="fa-solid fa-delete-left"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/3ecc16c3d8.js" crossorigin="anonymous"></script>
</body>
</html>
